
/*--menu--*/
 .menubg{
  background-color:rgba(100, 163, 155,0.9) ;	
  width:auto; 
  height:100px; 
  background-attachment: scroll;  
  background-repeat:no-repeat; 
  background-position: center; 
  background-size: cover;
}
.menu {
	float: center;   
	background-color:rgba(190, 190, 190,0.4) ;	
}
#cssmenu li,
#cssmenu span,
#cssmenu a {
  font-size:16px; 
  font-weight: bold;   
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}
#cssmenu {
  padding-top: 30px;
  padding-bottom: 10px;
  
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  color: #fff;
  display: inline-block;
  line-height:0px;
  padding:0 0px 0 0px;
  text-decoration: none;
  font-weight: normal;
  font-size:1.2em;
  font-family: 'bebas_neueregular';
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: center;
  
}
#cssmenu > ul > li {
  float: left;
  left: 32%;
  margin: 0 5px 0 5px;
  width: 8%;
}
#cssmenu > ul > li > a {
  color: #fff;
    width: 80px;

}

#cssmenu > ul > li:hover:after {
   
  content: '';
  display: block;
  padding-top:16px;
  border-bottom: 3px solid #ffffff;
  -webkit-transition: .5s all linear;
  -moz-transition: 2s all linear;
  -o-transition: 2s all linear;
  transition:  2s all ease-out;
  transition-duration:.5s;
}
#cssmenu > ul > li.active:after {
  content: '';
  display: block;
  padding-top:16px;
  border-bottom:3px solid #ffffff;
  -webkit-transition: ; 1s all ease;
  -moz-transition: .4s all linear;
  -o-transition: .4s all ease;
  transition-duration: 10s all ease-out;
}
.tacon{
	padding:2% 0% 0 0%;
	width:90%; 
	height:auto;  
	margin:auto; 	
	border: 2px solid black;
}
.r>td {
	    padding-left:10%;
            height:10%;
	    width:10%;	
	    line-height:34px;	
	    text-align:left;
	    padding-right:40px;
	    
     }
.container {
    	float: center;  
	text-align:center;
   	position: inherit;
   	padding: 40px 0% 6% 0%;
	display:flex;
	margin:44% 0% 0% 0;
    	width: auto;
    	height: auto;  
	font-size:40px;
  	//border: 2px solid #000000 ;
	
}
.container2 {
	display: flex; 
 	flex-direction: column; 
 	min-height: 100vh; 
}
.ititle{
	width:100%; 
	height:auto;  
	margin: 0px auto;
	padding:0 48% 0 30%;
	flex-direction:row;
}

.item1{
	text-align:left; 
	font-size:18px;
	line-height:20px;
	width: 24%;
   	height: 100%; 
	margin-left:auto;
    	float:left;  
}
.item2{
	text-align:center; 
	font-size:18px;
	line-height:20px;
	width: 24%;
   	height: 100%; 
	margin-left:0%; 
    	float:left;  
}
.item3{
	text-align:left; 
	font-size:18px;
	line-height:20px;
	width: 24%;
   	height: 100%;
	margin-left:0%;   
    	float:left;  
}
.im {
	width:60%; 
	height:500px;
}
.reveal{
	//position: fixed;
	transform: translateX(100px);
	opacity: 0;
	transition: all 1.5s ease;
}
.reveal.active{
	transform: translateX(0px);
	opacity: 1;
}
.reveal2{
	//position: fixed;	
	transform: translateX(-100px);
	opacity: 0;
	transition: all 1.5s ease;
}
.reveal2.active{
	transform: translateX(0px);
	opacity: 1;
}
.reveal3{
	transform: translateY(100px);
	opacity: 0;
	transition: all 1.5s ease;
}
.reveal3.active{
	transform: translateY(0px);
	opacity: 1;
}

.wrapper {
	float: center;
   	//position: inherit;
   	padding: 0% 10% 0% 10%;
    	width: 100%;
    	height: auto;  
	
	
     }
     .a {
	font-size:16px;
	text-align:left; 
	padding-right:0px;
    	width: 46%;
   	height: 100%; 
	margin-right:4%; 
    	float:left;  
}
     .b{
	
	width: 50%;
	height: 100%;
	float:right; 
	
}
.b >img{
	
	width: 100%;
	height: 400px;
	float:left; 
	
}
.wrapper2 {
	float: center;
   	position: relative;
   	padding: 0% 20% 2% 20%;
	margin: 0%, 0, 0, 0%,;
    	width: 100%;
    	height: auto; 
	//display:flex; 
     }
     .a2 {
	text-align:left; 
 	flex: 1;
    	width: 45%;
   	height: 100%; 
    	float:left;  padding-bottom:0%;
	margin-right:5%; 
	
}
     .b2{
	flex: 1;
	width: 45%;
	height: 100%;
	float:right; padding-bottom:0%; 
}
.wrapper3 {
	float: center;
   	position: inherit;
   	padding: 0% 40px 0% 20%;
	margin:2% 0 2% 0;
    	width: 100%;
    	height: 70%;  
	
     }
     .a3 {
	font-size:16px;
	text-align:right; 
	padding:10% 24% 0 0px;
    	width: 52%;
   	height: 100%;  
    	float:right;  
}
     .b3{
	
	width: 48%;
	height: 100%;
	float:left; 
	
}
.b3 >img{
	
	width: 100%;
	height: 90%;
	float:left; 
	
}
.wrapper4 {
	float: center;
   	position: inherit;
   	padding: 0% 18% 0% 0px;
    	width: 100%;
    	height: 62%;  
	
     }
     .a4 {
	font-size:16px;
	text-align:left; 
	padding:8% 0 0% 28%;
    	width: 56%;
   	height: 100%;  
    	float:left;  
}
     .b4{
	
	width: 44%;
	height: 100%;
	float:left; 
	
}
.b4 >img{
	
	width: 100%;
	height: 90%;
	float:left; 
	
}
@media only screen and (max-width: 640px) {
  #cssmenu > ul > li {
    float: left;
    left: 6%;
    margin: 0 5px 0 5px;
    width: 18%;
  }
.ititle{
	width:100%; 
	height:auto;  
	margin: 0px auto;
	padding:0 50% 0 16%;
}
.wrapper {
	float: inherit;
   	position: inherit;
   	padding: 0 2% 0% 2%;
    	width: 100%;
    	height: auto;  
	
     }
   .a {
	padding:0% 4% 0 4%; 
    	width: 100%;
	height: auto; 
    	text-align:center;
    	float:left;  
}
     .b{
	height: auto; 
	width: 100%;
	float:left; 
	
}
.wrapper2 {
	float: inherit;
   	position: inherit;
   	padding: 0% 15% 0% 15%;
    	width: 100%;
    	height: auto;  margin-bottom:8%;
     }
     .a2 {
	text-align:left; 
    	width: 100%;
   	height: 100%;  
    	float:left;  
	margin-bottom:10%;
}
     .b2{
	
	width: 100%;
	height: 100%;
	float:right; 
	margin-bottom:0%;
}
.wrapper3 {
	float: inherit;
   	position: inherit;
   	padding: 0% 0% 0% 0%;
    	width: 100%;
    	height: auto;  
	display: flex;
  	flex-direction: column-reverse;
     }
   .a3 {
	 
    	width: 100%;
	height: 100%;
	padding:8% 0 0 0px;
    	text-align:center;
    	float:center;  
	
}
     .b3{
	height: 100%;
	width: 100%;
	float:left; 
	margin-top:0%;
	  
}
.wrapper4 {
	float: inherit;
   	position: inherit;
   	padding: 0 0% 0% 0%;
    	width: 100%;
    	height: auto;  
	
     }
   .a4  {
	 
    	width: 100%;
	height: 100%;
	padding:8% 0 0 0px;
    	text-align:center;
    	float:center;  
}
   .a4 >p {
	 
    	width: 100%;
	height: 100%;
	padding:0% 0 0 0px;
    	text-align:center;
    	float:center;  
}
     .b4{
	height: 100%;
	width: 100%;
	float:center; 
	
}
.container {
    	float: inherit;
   	position: inherit;
   	padding: 10% 0 6% 0%;
	margin-top:500px;
    	width: 100%;
    	height:auto;  
  	//border: 2px solid #000000 ;

}
.item1{
	
	width: 100%;
   	height: 100%; 
	margin-left:22%;    
    	float:left;  
}
.item2{
	margin-top: -28%;
	width: 100%;
   	height: 100%; 
	margin-left:-20%; 
	
    	float:left;  
}
.item3{
	margin-top: -28%;
	width: 100%;
   	height: 100%;
	margin-left:22%; 
	margin-bottom:10%;     
    	float:left;  
}
}
@media only screen and (max-width: 480px) {
  #cssmenu > ul > li {
    float: left;
    left: 2%;
    margin: 0 5px 0 5px;
    width: 18%;
  }
.ititle{
	width:100%; 
	height:auto;  
	margin: 0px auto;
	padding:0 46% 0 12%;
}
.im {
	width:70%;  
	height:40vh;
	float:center;
}
.r>td {
	
	display:flex;
	//border: 1px solid black;
	width:100%;	
	line-height:20px;	
	text-align:left;
	
}
.container {
    	float: inherit;
   	position: inherit;
   	padding: 8% 0 8% 0%;
	margin-top:540px;
    	width: 100%;
    	height:auto;  
  	//border: 2px solid #000000 ;

}
.item1{
	
	width: 100%;
   	height: 100%; 
	margin-left:22%;    
    	float:left;  
}
.item2{
	margin-top: -28%;
	width: 100%;
   	height: 100%; 
	margin-left:-20%; 
	
    	float:left;  
}
.item3{
	margin-top: -28%;
	width: 100%;
   	height: 100%;
	margin-left:22%; 
	margin-bottom:10%;     
    	float:left;  
}
.wrapper {
	float: inherit;
   	position: inherit;
   	padding: 0 4% 0% 4%;
    	width: 100%;
    	height:auto%;  
	
     }
   .a {
	padding-left:0px; 
    	width: 100%;
	height:auto;  
    	text-align:center;
    	float:left;  
	margin-bottom:4%;
}
     .b{
	height:auto; 
	width:100%;
	float:left; 
	
}
.wrapper2 {
	float: inherit;
   	position: inherit;
   	padding: 0% 8% 0% 8%;
    	width: 100%;
    	height: auto;  margin-bottom:10%;
     }
     .a2 {
	text-align:left; 
    	width: 100%;
   	height: 100%;  
    	float:left; 
	margin-bottom:10%; 
}
     .b2{
	
	width: 100%;
	height: 100%;
	float:right; 
	
}

}
@media only screen and (max-width: 360px) {
  #cssmenu > ul > li {
    float: left;
    left: 22%;
    margin: 0 5px 0 5px;
    width: 48%;
  }
.ititle{
	width:100%; 
	height:auto;  
	margin: 0px auto;
	padding:0 45% 0 4%;
}
.im {
	width:80%;  
	height: 60vh;
	
}

.r>td {
	
	display:flex;
	//border: 1px solid black;
	width:100%;	
	line-height:20px;	
	text-align:left;
	
}
.container {
    	float: inherit;
   	position: inherit;
   	padding: 8% 0 4% 0%;
    	width: 100%;
    	height:auto;  
  	//border: 2px solid #000000 ;

}
.item1{
	
	width: 100%;
   	height: 100%; 
	margin-left:22%;    
    	float:left;  
}
.item2{
	margin-top: -28%;
	width: 100%;
   	height: 100%; 
	margin-left:-20%; 
	
    	float:left;  
}
.item3{
	margin-top: -28%;
	width: 100%;
   	height: 100%;
	margin-left:22%; 
	margin-bottom:10%;     
    	float:left;  
}
.wrapper {
	float: inherit;
   	position: inherit;
   	padding: 0 0 0 0%;
    	width: 100%;
    	height: auto;  
	margin-bottom:0%;
	
     }
 .a {
	 
    	width: 100%;
    	float:left; 
	margin-bottom:8%;
}
     .b{
	
	width: 100%;
	float:left; 
}
.wrapper2 {
	float: inherit;
   	position: inherit;
   	padding: 0% 4% 0% 4%;
    	width: 100%;
    	height:auto; 
     }
     .a2 {
	text-align:left; 
    	width: 100%;
   	height: 100%;  
    	float:center;
	 
	}
     .b2{
	
	width: 100%;
	height: 100%;
	float:center; 
	margin-left:4%;   
}



}
@media only screen and (max-width: 320px) {
  #cssmenu > ul > li {
    float: left;
    left: 22%;
    margin: 0 5px 0 5px;
    width: 48%;
  }
.ititle{
	width:100%; 
	height:auto;  
	margin: 0px auto;
	padding:0 45% 0 2%;
	display:flex;
	flex-direction:row;
	
}
.im {
	width:80%;  
	height: 60vh;
	
}
.wrapper {
	float: inherit;
   	position: inherit;
   	padding: 0px 0% 0 0%;
    	width: 100%;
    	height: auto;  
	
     }
 .a {
	
    	width: 100%;
    	float:left;  
}
     .b{
	padding-top:0px;
	width: 100%;
	float:left; 
	
}
.wrapper2 {
	float: inherit;
   	position: inherit;
   	padding: 0% 8% 0% 8%;
    	width: 100%;
    	height: 100%; 
     }
     .a2 {
	text-align:left; 
    	width: 100%;
   	height: 100%;  
    	float:left;  
}
     .b2{
	
	width: 100%;
	height: 100%;
	float:right; 
	
}
.container {
    	float: inherit;
   	position: inherit;
   	padding: 8% 0 8% 0%;
	margin-top:560px;
    	width: 100%;
    	height:auto;  
  	//border: 2px solid #000000 ;

}
.item1{
	
	width: 100%;
   	height: 100%; 
	margin-left:22%;    
    	float:left;  
}
.item2{
	margin-top: -28%;
	width: 100%;
   	height: 100%; 
	margin-left:-20%; 
	
    	float:left;  
}
.item3{
	margin-top: -28%;
	width: 100%;
   	height: 100%;
	margin-left:22%; 
	margin-bottom:10%;     
    	float:left;  
}
}    
